
.fullNavigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffd56b;
    z-index: 20000;
    opacity: 0;  
    transition: 0.4s opacity;
}

.display {
  opacity: 1;
  transition: 0.4s opacity;
}

.navLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    width: fit-content;
}

.navLinksContainer li {
    margin-bottom: 1.6rem;
}

.navLinksContainer a {
    font-size: 32px;
    color: white;
}

.underlineContainer {
    position: relative;
    display: block;
    width: fit-content;
    text-align: center;
    cursor: pointer;
  }
  
  .underline::after {
    content: "";
    position: absolute;
    z-index: 0;
  }
  
  .underlineContainer:hover .underline::after {
    opacity: 1;
    transition: 0.3s ease all;
    bottom: -4px;
    height: 2px;
    left: -2px;
    right: 2px;
    background-color: white;
    width: 102%;
    transition: 0.3s ease all;
  }