.quotes {
  width: 40px;
}

.quotesTop {
  float: left;
  transform: translateY(-40px);
  opacity: 0.4;
}

.quotesBottom {
  float: right;
  opacity: 0.4;
}

.sentence {
  padding: 2rem 0;
}

@media (max-width: 1200px) {
  .quotesTop {
    color: #EDECE0;
    fill: red;
  }
}
