.bio {
    font-size: 36px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.2;
}

.bioWrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about {
    font-size: 72px;
    font-weight: 800;
    color: #FFCB47;
    font-style: italic;
    margin-bottom: 1rem;
}

.title {
    font-size: 30px;
    font-weight: 500;
    text-align: justify;
}

.app {
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 425px) {
    .bio {
        font-size: 36px;
    }

    .about {
        font-size: 22px;
    }
    
    .title {
        font-size: 26px;
    }
}