.biography {
    font-size: 42px;
    text-align: justify;
    font-weight: 600;
}

.bio {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: justify;
}

.bioWrap {
    width: 100%;
    max-width: 700px;
    margin: 9rem auto 0 auto;
    padding: 0 2rem;
}

.about {
    font-size: 26px;
    margin-bottom: 2rem;
    font-weight: 800;
    color: #FFCB47;
    font-family: 'Rubik';
}