.app {
    visibility: hidden;
    opacity: 0;
}

.contactWrap {
    margin: 28vh auto 0 auto; 
    max-width: 680px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.icon {
    margin: 0 0.5rem;
    font-size: 36px;
    font-weight: 300;
}

.content {
    font-size: 36px;
    font-weight: 300;
}

.content a:hover, .icon:hover {
    opacity: 0.7;
} 

.italic {
    font-style: italic;
}

.dot {
    color: #FFCB47;
}


@media (max-width: 1024px) {

}



@media (max-width: 425px) {
    .title {
        font-size: 34px;
    }
    
    .icon {
        font-size: 18px;
    }
    
    .content {
        font-size: 18px;
    }

}

