.app {
  visibility: hidden;
  margin: 4rem auto;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}





.display {
  opacity: 1
}

.hide {
  opacity: 0;
  z-index: 0;
}

