.app {
  visibility: hidden;
  margin: 4rem auto;
}

.image {
  position: relative;
  max-width: 600px;
  height: 80vh;
  background-image: url("../styles/images/picture.jpeg");
  display: block;
  width: 520px;
  background-size: cover;
  z-index: 2000;
  margin: 0 auto;
}

.sentence {
  position: absolute;
  top: -6px;
  left: 4px;
  font-size: 52px;
  font-family: 'Rubik';
  width: 420px;
  z-index: 4000;
}

.colorizeWord {
  color: #F5D33D;
}

@media (max-width: 1200px) {
  .image {
    max-width: 520px;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .skills_image_navItems {
    width: 80%;
  }
}


