.skillsList {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 52px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    font-family: 'Rubik';
    font-weight: 400i;
  }
  
  .skillsList:hover li {
    color: #A73825;
  }
  
  .skillsList:hover li:hover {
    color: white;
    cursor: pointer;
  }
  
  .sentenceContainer {
    position: absolute;
    opacity: 1;
    width: auto;
    font-size: 18px;
    top: 38vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10000;
    max-width: 500px;
    width: 100%;
    color:white;
    font-size: 26px;
  }
  
  .sentence {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  
  .sentenceVisible {
    visibility: visible;
    opacity: 1;
    transition: 2s all;
  }
  
  .displayNone {
    visibility: hidden;
    opacity: 0;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: 4rem;
    width: 100%;
  }