.navbarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.6rem 0;
}

.navbar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 22px;;
}

.name:hover {
    font-style: italic;
}

.navLinksContainer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;

    li {
        display: inline;
        margin-left: 1rem;
    }

    li:hover {
        font-style: italic;
    }
}