.title {
    font-size: 52px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.description {
    font-size: 28px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }
    
    .description {
        font-size: 20px;
    }
}